<!DOCTYPE html>
{% include 'Thesis_Schedule_App/admin_landingpage.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">

    <title>HOME PAGE | CLASS SCHEDULING SYSTEM</title>

      <!-- box icon -->
	    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	    <script src="https://kit.fontawesome.com/eb44be992a.js" crossorigin="anonymous"></script>

	    
</head>



<!---------------------------- LOAD STATIC FOLDER ------------------------>
        {% load static %}
<!------------------ IMPORT CSS FILE FROM STATIC --------------->
        <link rel = "stylesheet" href="{% static 'facultyloading_CSS.css' %}">
<!------------------------------------------------------------------------>



<body>
<!-------------------------------- HEADER------------ -------------------->
<header class="header"><i class="fa-solid fa-bars-staggered"></i> FACULTY LOADING </header>

<!--------------------------- HOME | CONTENT ----------------------------->
<div class="search-bar">
    <h2> im a text </h2>
</div>
<!------------------------------------------------------------------------>

</body>
</html>