body{
 background: #F9F9F9;
 position: relative;
 max-width: 100%;
 max-height: 1000px;
 font-family: 'Poppins', sans-serif;
 margin: 30px;

}
h2{
 font-family: 'Helvetica', sans-serif;
 position: absolute;
 margin-top
}

.container{
 border: 3px  solid #E4D9ED;
 border-radius: 10px;
 background: transparent;
 display: flex;
 justify-content: center;
 align-items: left;
 align-items: center;
 padding: 30px;
 margin: 30px;
}
/*.container:focus ~ span,
.container:valid ~ span
{
 transform: translateX(10px) translateY(-32px);
 font-size: 12px;
}*/

