/*Google fonts import Link*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
 background-image: url(images/home_folder/noise_White.png);
 position: relative;
 object-fit: cover;

}
.title-logo {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin-top: 50;
 margin-left: 260px;
 color: #424242;

 /*
 margin-top: 20%;
 */
 text-align: center;
 font-family: 'Times New Roman', Times, serif;
 min-width: 400px;
}
.title-logo img{
    height: 30%;
    width: 30%;
    min-width: 300px;
    padding-top: 30px;
    z-index: -1;
}
.title-logo h2{
    border-top: 1.5px solid #DEDEDE;
    padding: 20px 40px 0 40px;
    margin: 40px;
    min-width: 500px;
    z-index: -1;
    /*T, R, B,L*/
}