body{
    background-repeat: no-repeat;
    position: relative;
    background-image:url(images/bg.png);
    background-size: cover;
    background-size:100% 100vh;
    font-family: monospace;
}

* {
  box-sizing: border-box;
  /*box-position: center;*/
  color: #0c0d1f;
  letter-spacing: 3px;
  font: 400 13px 'Didactic Gothic', sans-serif;
  &::after, &::before {
    box-sizing: inherit;
  }
}

html, body {
  font: 400 14px 'Didactic Gothic', sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

label {
  display: block;
  margin-left: 15px;
  position: absolute;
}

input {
  background: transparent;
  border: 1px solid #000;
  /*border-bottom: 1px solid rgba(213, 162, 249);
  display: block;*/
  outline: none;
  padding: 0 8px 8px 5px;
  position: center;
  text-transform: lowercase;
  transition: all 0.2s ease-in-out;
  width: 70%;
  &:focus {
    border: #000;
  }
}

.row {
  &::after {
    clear: both;
    content: '';
    display: block;
    width: 100%;
  }
}

.col {
  border-radius: none;
  float: left;
  margin: 0;
  padding-top: 200px;
  position: center;
  &.col-6 {
    @include col(6);
  }
}

.container
{
/*box-shadow: -15px 15px 20px rgba(0,0,0,0.3);*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-box {
  blackface-visibility: hidden;
  background: #fff;
  border-radius: 10px;
  margin-left: 50%;
  position: absolute;
  top: 50%;
  transform:
    translate3d(-50%, -50%, 0)
    scale(1, 1);
  max-width: 100%;
}
.login-title {
   background-image: url(images/logo2.png);
   background-position: center;
   margin: 20px;

  background-repeat: no-repeat;
     width: 700px;
     height: 500px;
    background-size: contain;
}

h1 {
  font: 400 48px 'Lobster', cursive;
  text-transform: uppercase;
}
.small-text {
  font-size: 20px;
}
.login-form {
  background: #fff
  text-align: center;
  border-radius: 20px;
  width: 30%;
  > form {
    > *:not(:last-child) {
      margin: 0 0 20px;
    }
  }
}
.avatar {
  background: rgba(#fff, 1);
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  height: 100px;
  margin: 0 auto 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 100px;
  &:hover {
    box-shadow:
      0 0 20px rgba(0, 0, 0, 0.1);
  }
  &::after, &::before {
    border-radius: 50%;
    color: #ae9a51;
    content: '';
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    z-index: 1;
  }
  &::after {
    border: 3px solid;
    height: 32px;
    top: 36%;
    width: 32px;
  }
  &::before {
    border: 3px solid transparent;
    border-top: 3px solid;
    border-right: 3px solid;
    height: 48px;
    top: 73%;
    width: 48px;
  }
  img {
    border-radius: inherit;
    height: 100%;
    object-fit: cover;
    position: relative;
    width: 100%;
    z-index: 2;
  }
}
.registration {
  margin: 0 0 20px;
}
.login, .passwd {
  position: relative;
  &::after {
    blackface-visibility: hidden;
    color: rgba(0, 0, 0, 0.2);
    display: block;
    font: 400 16px 'FontAwesome', sans-serif;
    left: 14px;
    position: absolute;
    top: 35%;
    transform:
      translate3d(-50%, -50%, 0)
      scale(1);
    z-index: 1;
  }
}
.login {
  &::after {
    content: '\f2be';
  }
}
.passwd {
  &::after {
    content: '\f084';
  }

}
.button
{
  border: transparent;
  background: #7C55FF;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 12px;
  width: 50%;
  border-radius: 3px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.lost-passwd {
  margin: 30px 0 0;
}
